<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Post</title>
</head>
<body>
<div class="container">
    <h1 th:text="${dbPost.getTitle()}"></h1>
    <p th:text="${dbPost.getBody()}"></p>
    <h2>Are you sure you wish to delete this post? Once you do this, it cannot be undone.</h2>
    <form th:action="${'/posts/'+ dbPost.getId() +'/delete'}" method="POST">
        <input type="submit" value="Delete Post">
    </form>
</div>
</body>
</html>